{% extends 'index.html' %}

{% block title %}
    Question
{% endblock %}

{% block content %}

<div class="list-group">
    {% for question in object_list %}
        {% include 'question/includes/question_template.html' %}
    {% endfor %}

    {% include 'question/includes/paginator.html' %}

</div>
{% endblock %}

{% block populate %}
    <div class="list-group">
        {% for question in populate_q.all %}
            {% include 'question/includes/populate_question.html' %}
        {% endfor %}
    </div>
{% endblock %}
