{% extends 'index.html' %}

{% block title %}
    New Question
{% endblock %}

{% block content %}

<form method="post" action="{% url 'question_create' %}">
    {% csrf_token %}
    <div class="card col-9 offset-md-3 mt-4">
        <div class="body">
            <h4 class="card-title mt-4 mb-4">Ask a question</h4>
            {% if object.errors %}
                <div class="alert alert-danger">
                    {{ object.errors }}
                </div>
            {% endif %}

            <div class="d-flex form-group row">
                <label class="col-2 col-form-label text-center">Title</label>
                <div class="col-10">
                    <input type="text" name="title" id="id_title" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label text-center">Text</label>
                <div class="col-10">
                    <textarea name="text" id="id_text" class="form-control" rows="8"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label text-center">Tags</label>
                <div class="col-10">
                    <input type="text" name="tags" id="id_tags" class="form-control">
                </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary mb-2">Save</button>
            </div>

        </div>
    </div>
</form>
{% endblock %}