{% extends 'index.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
<div class="list-group">
     <div class="list-group-item d-flex flex-row">
         <div class="col-1 flex-column mt-4">
             <div class="d-flex p-2 justify-content-center">Votes</div>
             <div class="d-flex p-2 justify-content-center">{{ object.votes }}</div>
         </div>
         <div class="col-11 flex-row">
             <div class="d-flex p-2 justify-content-between">
                 <h4>{{ object.text }}</h4>
             </div>
             <div class="d-flex p-2 justify-content-between">
                 <small>Date create: {{ object.date_create }}</small>
                 <small>Author: {{ object.author }}</small>
            </div>
             <div class="d-flex p-2 justify-content-between">
                 <div class="d-flex p-2">
                     <small>
                        {% for tag in object.tags.all %}
                        <a href="{{ tag.get_absolute_url }}" class="btn btn-success btn-sm btn-tag ml-1">
                            {{ tag.name }}
                        </a>
                        {% endfor %}
                    </small>
                </div>
                {% if user.is_authenticated %}
                 <div class="d-flex p-2">
                     <a href="{% url 'like_dis' id=object.id type='questions' action='like' %}" role="button"
                        class="btn btn-outline-success btn-sm">
                         Like {{ object.like.count }} {{ user.questions.like.count}}
                     </a>
                     <a href="{% url 'like_dis' id=object.id type='questions' action='dislike' %}"  role="button"
                        class="btn btn-danger btn-outline-danger btn-sm ml-2">
                         Dislike {{ object.dislike.count }}
                     </a>
                </div>
                 {% endif %}
             </div>
         </div>
     </div>

    {% for answer in answers.all %}
        {% include 'question/includes/answer_template.html' %}
    {% endfor %}

    {% include 'question/includes/paginator.html' with page_obj=page_obj %}

    <form action="{{ object.get_absolute_url }}" method="post">
        {% csrf_token %}
        <div class="list-group-item d-flex flex-column">
            <h4>Ask a question</h4>
            {{ answer_form.text }}
            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary col-3 text-white">Answer</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
