{% extends 'index.html' %}

{% block title %}
    {{ tag.name }}
{% endblock %}

{% block content %}
<h4>Tag: {{ tag.name }}</h4>
<div class="list-group">
    {% for question in object.all %}
        {% include 'question/includes/question_template.html' %}
    {% endfor %}

    {% include 'question/includes/paginator.html' %}
</div>
{% endblock %}

{% block populate %}
<div class="d-flex justify-content-center col-11"><h4>Trending</h4></div>
    <div class="list-group">
        {% for question in populate_q.all %}
            {% include 'question/includes/populate_question.html' %}
        {% endfor %}
    </div>
{% endblock %}